<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="TARGET_CS_HOST_IP" value="10.0.0.71" />
		<add key="TARGET_CS_MAX_NUMBER_Q" value="15" />
		<add key="RECOVERABLE_Q" value="0" />
	</appSettings>
</configuration>